.modal {
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: rgba(36, 46, 133, 0.671);
  border-radius: 4px;
  position: absolute;
  left: 40%;
  top: 10%;
  z-index: 999;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  padding-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.closeButton {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgb(36, 56, 148);
  border: none;
  width: 100px;
  height: 30px;
  color: #fff;
}
